In [16]:
import pandas as pd

In [17]:
df = pd.read_csv('research/industries.csv',index_col='id')

In [18]:
df

,comp_type_id,industry_id,market_id,tidm,name,summary,Unnamed: 7
id,,,,,,,
1,1.0,24.0,1,AAL,Anglo American PLC,Anglo American's mining portfolio spans many c...,Industrial Metals and Mining
2,1.0,6.0,1,ABF,Associated British Foods PLC,Associated British Foods PLC is a diversified ...,Food Producers
3,2.0,10.0,1,ADM,Admiral Group PLC,Admiral Group is a personal lines insurer in t...,Non-life Insurance
4,1.0,25.0,1,AHT,Ashtead Group PLC,Ashtead Group PLC is a provider of equipment r...,Industrial Transportation
5,1.0,24.0,1,ANTO,Antofagasta PLC,Antofagasta is a Chilean copper mining company...,Industrial Metals and Mining
...,...,...,...,...,...,...,...
96,NaN,NaN,1,ULVR,Unilever PLC,Netherlands-based Unilever NV and U.K.-based U...,"Personal Care, Drug and Grocery Stores"
97,1.0,7.0,1,UU.,United Utilities Group PLC,United Utilities Group is primarily a holding ...,"Gas, Water and Multi-utilities"
98,NaN,NaN,1,VOD,Vodafone Group PLC,"With about 270 million wireless customers, Vod...",Telecommunications Service Providers
99,1.0,28.0,1,WPP,WPP Group PLC,"Headquartered in the U.K., WPP is the world's ...",Media
100,1.0,33.0,1,WTB,Whitbread PLC,Whitbread PLC owns hotels and restaurants that...,Travel and Leisure

In [19]:
idx = df['comp_type_id'].isnull()

In [20]:
df2 = df[idx]

In [21]:
industries = df2['Unnamed: 7'].unique()

In [22]:
for name in industries:
    print(name)

Retailers
Non-Renewable Energy
Telecommunications Service Providers
Consumer Services
Industrial Support Services
Precious Metals and Mining
Investment Banking and Brokerage Services
Industrial Materials
Personal Care, Drug and Grocery Stores
Closed End Investments
Medical Equipment and Services