In [9]:
import pandas as pd
import mysql.connector as mysql
from sqlalchemy import create_engine

In [10]:
table_name = "report_section"

In [11]:
# Import CSV data
df = pd.read_csv(f"data/database_tables/{table_name}.csv")

In [12]:
# Connect to database
db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "oFbByWK22xi2+Ah^",
    database = "value_investing_dev"
    )

cursor = db.cursor()

In [13]:
df

,id,report_type_id,report_section,report_section_last
0,1,1,Continuous Operatings,Profit for financial year
1,2,1,Earnings Before Interest and Taxes,Discontinued post-tax profit
2,3,1,Per Share Values,EPS norm. continuous
3,4,1,Normalised,EBITDA
4,5,1,Company Adjusted,EPS (diluted)
5,6,1,Other,Enterprise value
6,7,2,Assets,Total assets
7,8,2,Liabilities,Total liabilities
8,9,2,Equity,Total liabilities + equity
9,10,2,Borrowing,Net borrowing
10,11,2,Other,Pension deficit
11,12,3,Cash Flows,Net change in cash
12,13,3,Cash Balance,Closing balance
13,14,3,Free Cash Flow,Free cash flow (FCF)
14,15,3,Per Share Values,Capex ps
15,16,4,Share Price,-
16,17,5,Calculated,-
17,18,6,Unknown,-

In [15]:
# column names and sql builder
sql_col_names = []
col_names_list = []

for col in df.columns: 
    sql_col_names.append(col)
    col_names_list.append(col.split(' ')[0])
del col_names_list[0]

sql_col_names = ', '.join(sql_col_names)

col_names_list
sql_col_names

['report_type_id', 'report_section', 'report_section_last']

In [16]:
# Create Table
cursor.execute(f"CREATE TABLE IF NOT EXISTS {table_name} ({sql_col_names})")

In [17]:
placeholders = ', '.join(['%s'] * len(col_names_list))
columns = ', '.join(col_names_list)
sql = f"INSERT INTO {table_name} ( {columns} ) VALUES ( {placeholders} )"
sql

'INSERT INTO report_section ( report_type_id, report_section, report_section_last ) VALUES ( %s, %s, %s )'

In [18]:
# Populate database
iterator_table = df.iterrows()
while (True) : 
    try:
        row = next(iterator_table)[1].tolist()
        row = [str(i) for i in row]
        del row[0]
        print(row)
        cursor.execute(sql, row)
        
        db.commit()

    # if there are no more values in iterator, break the loop
    except StopIteration:
        break

['1', 'Continuous Operatings', 'Profit for financial year']
['1', 'Earnings Before Interest and Taxes', 'Discontinued post-tax profit']
['1', 'Per Share Values', 'EPS norm. continuous']
['1', 'Normalised', 'EBITDA']
['1', 'Company Adjusted', 'EPS (diluted)']
['1', 'Other', 'Enterprise value']
['2', 'Assets', 'Total assets']
['2', 'Liabilities', 'Total liabilities']
['2', 'Equity', 'Total liabilities + equity']
['2', 'Borrowing', 'Net borrowing']
['2', 'Other', 'Pension deficit']
['3', 'Cash Flows', 'Net change in cash']
['3', 'Cash Balance', 'Closing balance']
['3', 'Free Cash Flow', 'Free cash flow (FCF)']
['3', 'Per Share Values', 'Capex ps']
['4', 'Share Price', '-']
['5', 'Calculated', '-']
['6', 'Unknown', '-']

In [19]:
cursor._executed

b"INSERT INTO report_section ( report_type_id, report_section, report_section_last ) VALUES ( '6', 'Unknown', '-' )"

In [20]:
db.close()

In [21]:
from sqlalchemy import create_engine

In [22]:
db_connection_str = 'mysql://root:oFbByWK22xi2+Ah^@localhost/value_investing_dev'
db_connection = create_engine(db_connection_str)

In [23]:
df = pd.read_sql(f"SELECT * FROM {table_name}", con=db_connection)
df

,id,report_type_id,report_section,report_section_last
0,1,1,Continuous Operatings,Profit for financial year
1,2,1,Earnings Before Interest and Taxes,Discontinued post-tax profit
2,3,1,Per Share Values,EPS norm. continuous
3,4,1,Normalised,EBITDA
4,5,1,Company Adjusted,EPS (diluted)
5,6,1,Other,Enterprise value
6,7,2,Assets,Total assets
7,8,2,Liabilities,Total liabilities
8,9,2,Equity,Total liabilities + equity
9,10,2,Borrowing,Net borrowing
10,11,2,Other,Pension deficit
11,12,3,Cash Flows,Net change in cash
12,13,3,Cash Balance,Closing balance
13,14,3,Free Cash Flow,Free cash flow (FCF)
14,15,3,Per Share Values,Capex ps
15,16,4,Share Price,-
16,17,5,Calculated,-
17,18,6,Unknown,-

In [24]:
db_connection.dispose()