In [1]:
import mysql.connector as mysql
import numpy as np
import pandas as pd
import seaborn as sns
import plotly.express as px
from sqlalchemy import create_engine
from datetime import timedelta, datetime
import math

In [2]:
# Print multiple outputs in a single cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Show all rows in dataframe
pd.set_option('display.max_rows', None)

In [3]:
db = mysql.connect(
        host="localhost",
        user="root",
        passwd="oFbByWK22xi2+Ah^",
        database="value_investing_dev"
        )

cursor = db.cursor()

table_name = "ranking_data"

current_company = "BRBY"

In [4]:
df = pd.read_csv(f"data/database_tables/{table_name}.csv")

# column names and sql builder
sql_col_names = []
col_names_list = []

for col in df.columns: 
    sql_col_names.append(col)
    col_names_list.append(col.split(' ')[0])
del col_names_list[0]

sql_col_names = ', '.join(sql_col_names)

cursor.execute(f"CREATE TABLE IF NOT EXISTS {table_name} ({sql_col_names})")

In [5]:
db_connection_str = (
    "mysql://root:oFbByWK22xi2+Ah^@localhost/value_investing_dev"
)

# Connect to database
db_connection = create_engine(db_connection_str)

# Read DCF variables
df_dcf_variables = pd.read_sql(
    "SELECT param_name, value FROM calc_variables LEFT JOIN parameters ON calc_variables.parameter_id = parameters.id",
    con=db_connection,
)

# Get Params
df_params = pd.read_sql(
    f"SELECT id, param_name FROM parameters",
    con=db_connection,
)

# Get Companies
df_companies = pd.read_sql(
    f"SELECT id, tidm, company_name FROM companies",
    con=db_connection,
)

In [6]:
# Get Report Data
cursor.execute(f"SELECT time_stamp, value, param_name FROM calculated_data LEFT JOIN companies ON calculated_data.company_id = companies.id LEFT JOIN parameters ON calculated_data.parameter_id = parameters.id WHERE tidm = 'AV.'")
data_tidm = cursor.fetchall()

# Convert to dataframe
df_tidm = pd.DataFrame(data_tidm, columns=['time_stamp', 'value', 'parameter'])
# df_tidm.head()

# Pivot dataframe
df_tidm_pivot = df_tidm.pivot(columns='time_stamp', index='parameter', values='value')

# Select Subset
df_rev_rate = df_tidm_pivot['Revenue Growth (10 year)':'Revenue Growth (10 year)']
df_earn_rate = df_tidm_pivot['Earnings Growth (10 year)':'Earnings Growth (10 year)']
df_div_rate = df_tidm_pivot['Dividend Growth (10 year)':'Dividend Growth (10 year)']
df_overall_rate = df_tidm_pivot['Overall Growth (10 year)':'Overall Growth (10 year)']
df_calculated = pd.concat([df_rev_rate, df_earn_rate, df_div_rate, df_overall_rate]).astype('float')
df_calculated

time_stamp,1981-12-31,1982-12-31,1983-12-31,1984-12-31,1985-12-31,1986-12-31,1987-12-31,1988-12-31,1989-12-31,1990-12-31,...,2010-12-31,2011-12-31,2012-12-31,2013-12-31,2014-12-31,2015-12-31,2016-12-31,2017-12-31,2018-12-31,2019-12-31
parameter,,,,,,,,,,,,,,,,,,,,,
Revenue Growth (10 year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,-19.924037,-10.578433,-3.004132,9.598750,11.984257,-2.688258,16.886815
Earnings Growth (10 year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,139.601140,34.643735,-72.722222,-76.958719,-61.303191,-24.658519,-16.682028,-4.756243,-21.806569,171.690428
Dividend Growth (10 year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,-3.055229,4.137931,-8.203125,-27.448609,-42.303433,-43.854167,-30.888889,-13.333333,6.887417,-5.106383
Overall Growth (10 year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,68.272955,19.390833,-40.462674,-41.443789,-38.061686,-23.838939,-12.657389,-2.035106,-5.869137,61.156953

In [7]:
# Calculate rank for each type
ranktype_list = [
    'Growth Rate (10 year)',
    'Growth Quality',
    'Median ROCE (10 year)',
    'PE10',
    'DP10',
]

rank_df_list = []
values_df_list = []
num_ranks = len(ranktype_list)
rank_num = 0

for rank_type in ranktype_list:
# rank_type = ranktype_list[1]
    print(f"Rank {rank_num} of {num_ranks}, {rank_type}")

    # Get Report Data
    cursor.execute(f"SELECT time_stamp, value, tidm FROM calculated_data LEFT JOIN companies ON calculated_data.company_id = companies.id LEFT JOIN parameters ON calculated_data.parameter_id = parameters.id WHERE param_name = '{rank_type}'")
    data = cursor.fetchall()

    # Create Dataframe
    df = pd.DataFrame(data, columns=['time_stamp', 'value', 'tidm'])

    # Offset dates by 1 day to account for companies
    # reporting on first of the year
    df['time_stamp_delta'] = df['time_stamp'] + pd.DateOffset(days=-1)
    df['year'] = pd.DatetimeIndex(df['time_stamp_delta']).year

    # Show duplicate rows
    duplicated_columns_df = df[df.duplicated(subset=['tidm', 'year'], keep=False)]
    # duplicated_columns_df

    # Remove Duplicates and take last value
    # This accounts for companies reporting
    # twice in a year and take last report
    df2 = df.drop_duplicates(subset=['tidm', 'year'], keep='last')

    # Pivot dataframe
    df_pivot = df2.pivot(columns='year', index='tidm', values='value').replace(to_replace='None', value=None).astype('float')
    # df_pivot

    # Create Growth list
    last_list = []
    tidm_list = df_pivot.index

    # Get last value if exists,
    # if not, then take second to last
    for i, row in df_pivot.iterrows():
        current_value = row.values[df_pivot.shape[1]-1]

        if math.isnan(current_value):
            current_value = row.values[df_pivot.shape[1]-2]

        last_list.append(current_value)

    # Convert to dataframe
    df_growth_values = pd.DataFrame(
        data=last_list
        )
    df_growth_values.columns = [f"{ranktype_list[rank_num]} Rank Value"]
    df_growth_values.index = tidm_list

    # Replace NaN with -999
    df_growth_values = df_growth_values.fillna(-999)
    if ranktype_list[rank_num] == 'PE10' or ranktype_list[rank_num] == 'DP10':
        mask = df_growth_values[f"{ranktype_list[rank_num]} Rank Value"].gt(0)
        df_growth_values = pd.concat([df_growth_values[mask].sort_values(f"{ranktype_list[rank_num]} Rank Value"),df_growth_values[~mask].sort_values(f"{ranktype_list[rank_num]} Rank Value", ascending=False)])
    else:
        df_growth_values = df_growth_values.sort_values(by=f"{ranktype_list[rank_num]} Rank Value", ascending=False)

    # Rank Dataframe
    df_growth_rank = pd.DataFrame()
    df_growth_rank[f"{ranktype_list[rank_num]} Rank"] = range(len(df_growth_values))
    df_growth_rank.index = df_growth_values.index

    values_df_list.append(df_growth_values)
    rank_df_list.append(df_growth_rank)

    rank_num = rank_num + 1

df_growth_values = pd.concat(values_df_list, axis=1)

# Growth Rank
df_growth_rank = pd.concat(rank_df_list, axis=1)
df_growth_rank['Defensive Rank'] = df_growth_rank.sum(axis=1)
df_growth_rank = df_growth_rank.sort_values(by="Defensive Rank", ascending=True)

# Combine back together
df_rank_both = pd.concat([df_growth_values, df_growth_rank], axis=1)
df_rank_both

Rank 0 of 5, Growth Rate (10 year)
Rank 1 of 5, Growth Quality
Rank 2 of 5, Median ROCE (10 year)
Rank 3 of 5, PE10
Rank 4 of 5, DP10

,Growth Rate (10 year) Rank Value,Growth Quality Rank Value,Median ROCE (10 year) Rank Value,PE10 Rank Value,DP10 Rank Value,Growth Rate (10 year) Rank,Growth Quality Rank,Median ROCE (10 year) Rank,PE10 Rank,DP10 Rank,Defensive Rank
GVC,52.262828,66.666667,2.444187,43.859127,38.678915,0,56,77,85,45,263
PSN,43.479873,70.000000,16.395775,18.107908,34.886731,1,45,13,43,40,142
OCDO,40.704291,50.000000,-0.992418,-327.200000,0.000000,2,90,99,99,99,389
BDEV,40.249654,80.000000,8.827415,12.673141,39.294770,3,21,38,21,46,129
AHT,35.577301,93.333333,9.050433,31.640966,106.409002,4,2,36,75,88,205
TW.,31.481139,80.000000,13.077221,15.385839,85.955556,5,19,19,35,83,161
IAG,29.901701,63.333333,7.287287,7.537930,35.720690,6,63,45,4,42,160
BKG,20.759521,63.333333,18.266857,14.675648,38.218365,7,59,9,32,44,151
JD.,19.286989,76.666667,18.583283,60.101010,631.060606,8,26,8,93,98,233
STJ,19.189191,66.666667,0.000000,42.608855,45.756385,9,54,84,83,56,286
SMT,17.930541,40.000000,0.000000,12.750111,197.079038,10,97,87,22,94,310
RMV,17.553874,96.666667,818.207792,58.558226,174.545455,11,1,0,92,92,196
RTO,17.533437,66.666667,6.463046,56.273292,184.897959,12,50,51,91,93,297
SKG,17.428132,83.333333,3.563928,20.904926,58.740696,13,11,67,52,72,215
HIK,14.640226,73.333333,11.245719,21.850307,103.806048,14,42,28,58,87,229
BATS,13.665472,73.333333,17.276855,8.747733,21.719989,15,41,10,7,20,93
FLTR,13.283034,76.666667,35.492053,43.813233,73.276136,16,28,3,84,80,211
LSE,12.914403,83.333333,7.462932,80.103359,198.667008,17,8,44,97,95,261
FERG,12.890594,70.000000,11.595081,23.446562,64.178399,18,47,25,63,75,228
MNDI,12.477443,80.000000,10.418505,15.616740,49.483529,19,17,32,38,60,166
SMDS,12.469910,73.333333,6.075367,19.715550,33.322650,20,36,55,48,38,197
EVR,12.334294,43.333333,0.179015,15.568401,16.153539,21,93,81,36,8,239
MRO,12.321253,50.000000,4.069372,45.046904,31.263021,22,84,65,86,36,293
SDR,11.420358,76.666667,2.919098,22.442111,42.963918,23,31,76,60,54,244
ITRK,11.060002,90.000000,14.071660,61.880089,99.388587,24,4,18,95,86,227
HL.,10.934140,86.666667,69.060571,42.464146,65.166066,25,6,1,82,76,190
LGEN,10.595444,73.333333,0.000000,15.089641,26.030928,26,34,91,33,25,209
POLY,10.351723,73.333333,11.580406,19.706464,57.590361,27,37,26,47,71,208
REL,10.273387,76.666667,14.700717,37.569006,61.786641,28,27,17,78,74,224
CRH,10.081930,60.000000,3.283527,27.877566,37.963310,29,64,71,69,43,276
DCC,10.051901,73.333333,6.108097,24.850168,52.211302,30,40,54,66,63,253
AVV,9.872913,80.000000,14.887779,69.297898,110.744849,31,20,16,96,89,252
HLMA,9.835409,96.666667,12.777163,60.695103,152.702703,32,0,20,94,91,237
BNZL,9.734891,90.000000,9.593666,27.278732,55.154915,33,5,34,68,67,207
SPX,9.295769,83.333333,17.139874,54.580059,122.317006,34,12,12,90,90,238
ADM,9.032883,80.000000,0.000000,22.189122,39.714482,35,15,83,59,48,240
HSV,8.319314,80.000000,10.905513,47.786811,69.513798,36,14,29,87,77,243
CPG,7.613233,93.333333,14.939789,38.759259,71.214699,37,3,15,80,78,213
IHG,7.388796,70.000000,22.062859,19.898369,81.298782,38,43,4,50,81,216
AV.,7.055013,50.000000,0.000000,13.836748,19.510718,39,89,92,26,17,263
INF,7.052532,76.666667,3.519808,37.987589,50.951249,40,25,68,79,62,274
RIO,6.988824,66.666667,6.316930,11.775936,28.456775,41,49,53,18,31,192
SN.,6.592432,80.000000,11.739466,24.844089,90.672934,42,13,23,65,84,227
ULVR,6.513936,70.000000,15.302462,22.695498,43.069993,43,46,14,61,55,219
WPP,6.229971,73.333333,6.903416,14.184067,27.536793,44,35,48,28,28,183
SGE,6.124601,83.333333,12.614770,32.248134,53.763608,45,7,21,76,66,215
CRDA,6.015405,83.333333,17.150805,35.398230,72.357264,46,9,11,77,79,222
ICP,5.566445,50.000000,0.000000,15.372085,28.919355,47,85,98,34,34,298
BT.A,5.439647,50.000000,8.492501,5.184697,10.406002,48,87,39,0,2,176
NXT,5.339581,73.333333,42.016582,18.765208,56.211454,49,33,2,45,68,197
WTB,5.093007,83.333333,10.589180,20.972497,56.289804,50,10,30,53,69,212
DGE,4.658350,76.666667,12.294958,27.909034,47.493801,51,30,22,70,57,230
EXPN,4.443751,76.666667,11.659750,29.739728,81.469417,52,29,24,73,82,260
BRBY,4.257570,76.666667,20.585536,19.082302,41.960282,53,23,6,46,51,179
IMB,4.210722,66.666667,6.990722,8.888528,9.468910,54,57,47,9,1,168
JMAT,3.961918,73.333333,11.271181,9.919453,26.468423,55,39,27,12,26,159
PRU,3.534873,66.666667,0.000000,13.158373,39.633479,56,55,88,24,47,270
AAL,3.308405,73.333333,5.182994,13.172092,42.466289,57,38,59,25,53,232
BP.,3.188113,66.666667,1.764124,11.547502,19.407407,58,58,79,17,15,227
ABF,2.973266,76.666667,7.832938,19.815080,59.768875,59,24,41,49,73,246
PHNX,2.853437,56.666667,0.000000,21.400000,18.804921,60,72,97,54,13,296
GLEN,2.417094,60.000000,1.925252,11.397094,28.841912,61,65,78,16,33,253
GSK,2.274134,53.333333,10.129345,25.656187,23.194263,62,75,33,67,22,259
CCH,1.596242,53.333333,7.203380,24.835399,96.283784,63,79,46,64,85,337
UU.,1.377334,70.000000,3.244536,15.603180,24.334232,64,48,73,37,23,245
BA.,1.102681,66.666667,6.782645,20.530716,27.444121,65,51,49,51,27,243
SVT,0.953206,63.333333,3.133786,17.902010,27.852431,66,60,74,42,29,271
RB.,0.781213,80.000000,19.215342,29.834980,42.216559,67,22,7,74,52,222
PNN,0.769642,76.666667,3.461132,28.194805,32.490272,68,32,69,71,37,277
HSBA,0.512839,43.333333,0.000000,9.616572,18.874362,69,95,82,10,14,270
ANTO,-0.293886,53.333333,5.442228,14.260383,52.239316,70,80,57,29,65,301
KGF,-0.864495,56.666667,7.825998,8.800690,22.491731,71,73,42,8,21,215
NG.,-1.306789,63.333333,4.849556,9.697777,20.822701,72,62,63,11,19,227
BLND,-1.438898,56.666667,4.991821,6.882293,12.549459,73,71,60,2,4,210
RDSB,-1.666995,56.666667,5.883983,10.386328,17.857428,74,67,56,13,12,222
SMIN,-3.183466,66.666667,7.811960,21.662670,33.390833,75,52,43,56,39,265
BARC,-3.187485,43.333333,0.000000,12.794872,34.949416,76,94,86,23,41,320
SSE,-3.943024,66.666667,3.456041,15.812432,15.046697,77,53,70,40,5,245
BHP,-4.085400,53.333333,9.113504,8.547662,24.336570,78,82,35,6,24,225
AZN,-4.783141,53.333333,6.401712,29.321975,39.760610,79,78,52,72,49,330
MRW,-5.084910,70.000000,4.419075,21.610778,20.343856,80,44,64,55,18,261
SBRY,-5.103773,50.000000,3.840206,11.052632,16.437700,81,86,66,15,9,257
FRES,-5.126875,53.333333,8.968264,12.560330,28.554862,82,83,37,20,32,254
RSA,-5.754942,53.333333,0.000000,21.737125,28.436400,83,81,95,57,30,346
TSCO,-6.936405,56.666667,3.105393,22.774451,29.218950,84,68,75,62,35,324
PSON,-7.274370,56.666667,6.723785,10.657520,16.601512,85,70,50,14,11,230
LAND,-7.385685,53.333333,4.943980,7.191011,15.836177,86,77,62,3,7,235
SLA,-8.163380,56.666667,0.000000,14.434668,15.389306,87,69,89,31,6,282
VOD,-10.658426,43.333333,1.331937,18.255250,7.197452,88,91,80,44,0,303
RR.,-12.061634,56.666667,3.269193,48.945720,49.357895,89,66,72,88,59,374
NWG,-13.946121,13.333333,0.000000,-11.779412,320.400000,90,99,94,98,96,477
STAN,-21.076693,40.000000,0.000000,8.019813,16.448857,91,96,85,5,10,287
III,-100.000000,43.333333,0.000000,12.180197,41.893178,92,92,90,19,50,343
LLOY,-100.000000,40.000000,0.000000,52.521008,48.449612,93,98,93,89,58,431
SGRO,-100.000000,63.333333,7.959165,16.127988,56.928934,94,61,40,41,70,306
AVST,-999.000000,50.000000,0.000000,13.836748,19.510718,95,88,96,27,16,322
AUTO,-999.000000,53.333333,5.442228,14.260383,52.239316,96,76,58,30,64,324
JET,-999.000000,80.000000,21.043967,38.873603,327.608696,97,16,5,81,97,296
MNG,-999.000000,80.000000,10.418505,15.616740,49.483529,98,18,31,39,61,247
BME,-999.000000,56.666667,4.991821,6.882293,12.549459,99,74,61,1,3,238

In [8]:
# Save to database
# Generate parameter_id and replace index
param_id_list = []
param_list = df_rank_both.columns
for param in param_list:
    
    param_id = df_params[
        df_params.param_name == param
    ].id.values[0]
    param_id_list.append(param_id)

df_rank_both.columns = param_id_list

# company id
company_id_list = []
company_list = df_rank_both.index
for company in company_list:
    
    company_id = df_companies[
        df_companies.tidm == company
    ].id.values[0]
    company_id_list.append(company_id)

df_rank_both.index = company_id_list

# Create list of columns
df_items = df_rank_both.items()
output_list = []
for label, content in df_items:
    output_list.append([content])

time_stamp_now = datetime.now()

# # Build SQL statement
col_names_list =["company_id","parameter_id","time_stamp","value"]
placeholders = ", ".join(["%s"] * len(col_names_list))
columns = ", ".join(col_names_list)
sql = f"INSERT INTO {table_name} \
    ( {columns} ) VALUES ( {placeholders} )"

# Get data from all columns and populate database
num_col = df_rank_both.shape[1]

# Iterate over date columns
for i in range(0, num_col):

    current_col = output_list[i]
    data = current_col[0]
    
    # Get data for insert
    # Date of current report
    current_parameter_id = str(data.name)

    # Iterate over data to insert into database
    for index, value in data.items():

        # Check value format
        value = str(value)
        # if value == 'nan':
            # value = None

        row = [
            str(index),
            current_parameter_id,
            time_stamp_now,
            value,
        ]

        cursor.execute(sql, row)
        db.commit()

In [9]:
# Close connections
db_connection.dispose()
db.close()