In [1]:
import pandas as pd
import mysql.connector as mysql
from sqlalchemy import create_engine

In [2]:
table_name = "industries"

In [3]:
# Import CSV data
df = pd.read_csv(f"data/database_tables/{table_name}.csv")

In [4]:
# Connect to database
db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "oFbByWK22xi2+Ah^",
    database = "value_investing_dev"
    )

cursor = db.cursor()

In [5]:
df

    id  industry_risk_id                                      industry_name
0    1                 1                              Aerospace and Defense
1    2                 1                                          Beverages
2    3                 1                                  Consumer Services
3    4                 1                                        Electricity
4    5                 1                      Fixed Line Telecommunications
5    6                 1                            Food and Drug Retailers
6    7                 1                                     Food Producers
7    8                 1                     Gas, Water and Multi-utilities
8    9                 1                 Health Care Equipment and Services
9   10                 1                     Medical Equipment and Services
10  11                 1                          Mobile Telecommunications
11  12                 1                                 Non-life Insurance
12  13                 1             Personal Care, Drug and Grocery Stores
13  14                 1                                     Personal Goods
14  15                 1  Pharmaceuticals, Biotechnology and Marijuana P...
15  16                 1               Telecommunications Service Providers
16  17                 1                                            Tobacco
17  18                 2                                 Alternative Energy
18  19                 2                              Automobiles and Parts
19  20                 2                                              Banks
20  21                 2                                          Chemicals
21  22                 2                             Closed End Investments
22  23                 2                Electronic and Electrical Equipment
23  24                 2                                 Financial Services
24  25                 2                                 Forestry and Paper
25  26                 2                                General Industrials
26  27                 2                                  General Retailers
27  28                 2              Household Goods and Home Construction
28  29                 2                             Industrial Engineering
29  30                 2                       Industrial Metals and Mining
30  31                 2                        Industrial Support Services
31  32                 2                          Industrial Transportation
32  33                 2          Investment Banking and Brokerage Services
33  34                 2                                      Leisure Goods
34  35                 2                                     Life Insurance
35  36                 2                                              Media
36  37                 2                               Non-Renewable Energy
37  38                 2                Real Estate Investment and Services
38  39                 2                      Real Estate Investment Trusts
39  40                 2                                          Retailers
40  41                 2                     Software and Computer Services
41  42                 2                                   Support Services
42  43                 2                  Technology Hardware and Equipment
43  44                 2                                 Travel and Leisure
44  45                 3                         Construction and Materials
45  46                 3                               Industrial Materials
46  47                 3                                             Mining
47  48                 3                              Oil and Gas Producers
48  49                 3           Oil Equipment, Services and Distribution
49  50                 3                         Precious Metals and Mining
50  51                 4                                            Unknown

In [6]:
# column names and sql builder
sql_col_names = []
col_names_list = []

for col in df.columns: 
    sql_col_names.append(col)
    col_names_list.append(col.split(' ')[0])
del col_names_list[0]

sql_col_names = ', '.join(sql_col_names)

col_names_list
sql_col_names

['industry_risk_id', 'industry_name']

In [7]:
# Create Table
cursor.execute(f"CREATE TABLE IF NOT EXISTS {table_name} ({sql_col_names})")

In [8]:
placeholders = ', '.join(['%s'] * len(col_names_list))
columns = ', '.join(col_names_list)
sql = f"INSERT INTO {table_name} ( {columns} ) VALUES ( {placeholders} )"
sql

'INSERT INTO industries ( industry_risk_id, industry_name ) VALUES ( %s, %s )'

In [9]:
# Populate database
iterator_table = df.iterrows()
while (True) : 
    try:
        row = next(iterator_table)[1].tolist()
        row = [str(i) for i in row]
        del row[0]
        print(row)
        cursor.execute(sql, row)
        
        db.commit()

    # if there are no more values in iterator, break the loop
    except StopIteration:
        break

['1', 'Aerospace and Defense']
['1', 'Beverages']
['1', 'Consumer Services']
['1', 'Electricity']
['1', 'Fixed Line Telecommunications']
['1', 'Food and Drug Retailers']
['1', 'Food Producers']
['1', 'Gas, Water and Multi-utilities']
['1', 'Health Care Equipment and Services']
['1', 'Medical Equipment and Services']
['1', 'Mobile Telecommunications']
['1', 'Non-life Insurance']
['1', 'Personal Care, Drug and Grocery Stores']
['1', 'Personal Goods']
['1', 'Pharmaceuticals, Biotechnology and Marijuana Producers']
['1', 'Telecommunications Service Providers']
['1', 'Tobacco']
['2', 'Alternative Energy']
['2', 'Automobiles and Parts']
['2', 'Banks']
['2', 'Chemicals']
['2', 'Closed End Investments']
['2', 'Electronic and Electrical Equipment']
['2', 'Financial Services']
['2', 'Forestry and Paper']
['2', 'General Industrials']
['2', 'General Retailers']
['2', 'Household Goods and Home Construction']
['2', 'Industrial Engineering']
['2', 'Industrial Metals and Mining']
['2', 'Industrial Support Services']
['2', 'Industrial Transportation']
['2', 'Investment Banking and Brokerage Services']
['2', 'Leisure Goods']
['2', 'Life Insurance']
['2', 'Media']
['2', 'Non-Renewable Energy']
['2', 'Real Estate Investment and Services']
['2', 'Real Estate Investment Trusts']
['2', 'Retailers']
['2', 'Software and Computer Services']
['2', 'Support Services']
['2', 'Technology Hardware and Equipment']
['2', 'Travel and Leisure']
['3', 'Construction and Materials']
['3', 'Industrial Materials']
['3', 'Mining']
['3', 'Oil and Gas Producers']
['3', 'Oil Equipment, Services and Distribution']
['3', 'Precious Metals and Mining']
['4', 'Unknown']

In [10]:
cursor._executed

b"INSERT INTO industries ( industry_risk_id, industry_name ) VALUES ( '4', 'Unknown' )"

In [11]:
db.close()

In [12]:
from sqlalchemy import create_engine

In [13]:
db_connection_str = 'mysql://root:oFbByWK22xi2+Ah^@localhost/value_investing_dev'
db_connection = create_engine(db_connection_str)

In [14]:
df = pd.read_sql(f"SELECT * FROM {table_name}", con=db_connection)
df

    id  industry_risk_id                                      industry_name
0    1                 1                              Aerospace and Defense
1    2                 1                                          Beverages
2    3                 1                                  Consumer Services
3    4                 1                                        Electricity
4    5                 1                      Fixed Line Telecommunications
5    6                 1                            Food and Drug Retailers
6    7                 1                                     Food Producers
7    8                 1                     Gas, Water and Multi-utilities
8    9                 1                 Health Care Equipment and Services
9   10                 1                     Medical Equipment and Services
10  11                 1                          Mobile Telecommunications
11  12                 1                                 Non-life Insurance
12  13                 1             Personal Care, Drug and Grocery Stores
13  14                 1                                     Personal Goods
14  15                 1  Pharmaceuticals, Biotechnology and Marijuana P...
15  16                 1               Telecommunications Service Providers
16  17                 1                                            Tobacco
17  18                 2                                 Alternative Energy
18  19                 2                              Automobiles and Parts
19  20                 2                                              Banks
20  21                 2                                          Chemicals
21  22                 2                             Closed End Investments
22  23                 2                Electronic and Electrical Equipment
23  24                 2                                 Financial Services
24  25                 2                                 Forestry and Paper
25  26                 2                                General Industrials
26  27                 2                                  General Retailers
27  28                 2              Household Goods and Home Construction
28  29                 2                             Industrial Engineering
29  30                 2                       Industrial Metals and Mining
30  31                 2                        Industrial Support Services
31  32                 2                          Industrial Transportation
32  33                 2          Investment Banking and Brokerage Services
33  34                 2                                      Leisure Goods
34  35                 2                                     Life Insurance
35  36                 2                                              Media
36  37                 2                               Non-Renewable Energy
37  38                 2                Real Estate Investment and Services
38  39                 2                      Real Estate Investment Trusts
39  40                 2                                          Retailers
40  41                 2                     Software and Computer Services
41  42                 2                                   Support Services
42  43                 2                  Technology Hardware and Equipment
43  44                 2                                 Travel and Leisure
44  45                 3                         Construction and Materials
45  46                 3                               Industrial Materials
46  47                 3                                             Mining
47  48                 3                              Oil and Gas Producers
48  49                 3           Oil Equipment, Services and Distribution
49  50                 3                         Precious Metals and Mining
50  51                 4                                            Unknown

In [15]:
db_connection.dispose()