In [2]:
import os
import mysql.connector as mysql
from sqlalchemy import create_engine
import pandas as pd
from datetime import datetime
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
# Connect to database
db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "oFbByWK22xi2+Ah^",
    database = "value_investing_dev"
    )

cursor = db.cursor()

In [3]:
# Create table if it does not exist
table_name = "share_price"

df = pd.read_csv(f"data/database_tables/{table_name}.csv")

# column names and sql builder
sql_col_names = []
col_names_list = []

for col in df.columns: 
    sql_col_names.append(col)
    col_names_list.append(col.split(' ')[0])
del col_names_list[0]

sql_col_names = ', '.join(sql_col_names)

cursor.execute(f"CREATE TABLE IF NOT EXISTS {table_name} ({sql_col_names})")

['company_id', 'time_stamp', 'price', 'volume', 'adjustment']

'id INT AUTO_INCREMENT PRIMARY KEY, company_id INT, CONSTRAINT share_price_ibfk_1 FOREIGN KEY (company_id) REFERENCES companies (id), time_stamp DATETIME, price FLOAT, volume INT, adjustment SMALLINT'

In [4]:
# Get params table data for associated id
# Connection string for sqlalchemy
db_connection_str = 'mysql://root:oFbByWK22xi2+Ah^@localhost/value_investing_dev'

# Connect to database
db_connection = create_engine(db_connection_str)

# Read companies data
df_companies = pd.read_sql(f"SELECT * FROM companies", con=db_connection)

# Close connection
db_connection.dispose()

,id,comp_type_id,industry_id,market_id,tidm,company_name,company_summary
0,1,1,30,1,AAL,Anglo American PLC,Anglo American's mining portfolio spans many c...
1,2,1,7,1,ABF,Associated British Foods PLC,Associated British Foods PLC is a diversified ...
2,3,2,12,1,ADM,Admiral Group PLC,Admiral Group is a personal lines insurer in t...
3,4,1,32,1,AHT,Ashtead Group PLC,Ashtead Group PLC is a provider of equipment r...
4,5,1,30,1,ANTO,Antofagasta PLC,Antofagasta is a Chilean copper mining company...

In [6]:
# Get list of reports
path = "data/share_prices"
file_list = []
for files in os.listdir(path):
    file_list.append(files)
num_files = len(file_list)
# file_list

# Import each file, process and save to database
file_num = 0
for current_company_filename in file_list:
    file_num = file_num + 1
    print(f"file {file_num} of {num_files}, {current_company_filename}")

    # Get company tidm for associated id
    current_company_tidm = current_company_filename.split("_")[1]

    # Get company report data
    df_data = pd.read_csv(f"data/share_prices/{current_company_filename}")
    df_data = df_data.where((pd.notnull(df_data)), None)

    ## New Section
    # company id
    company_id = df_companies[df_companies["tidm"] == current_company_tidm].id.values[0]

    # Format dataframe to database schema
    df_data.insert(0, 'company_id', [company_id]*df_data.shape[0])
    df_data = df_data.drop(['Open', 'High', 'Low'], axis=1)
    df_data.rename(columns = {'Date':'time_stamp', 'Close':'value', 'Volume':'volume', 'Adjustment':'adjustment'}, inplace = True)

    ## New Section
    # Build sql query
    placeholders = ', '.join(['%s'] * len(col_names_list))
    columns = ', '.join(col_names_list)
    sql = f"INSERT INTO {table_name} ( {columns} ) VALUES ( {placeholders} )"

    # Populate database
    for index, row in df_data.iterrows():
        row_list = [row[0], datetime.strptime(f"{row[1]} 00:00:00", '%d/%m/%Y %H:%M:%S'), row[2], row[3], row[4]]
        cursor.execute(sql, row_list)
        db.commit()

file 1 of 100, LSE_AAL_prices.csv

5437

file 2 of 100, LSE_ABF_prices.csv

6795

file 3 of 100, LSE_ADM_prices.csv

4088

file 4 of 100, LSE_AHT_prices.csv

6795

file 5 of 100, LSE_ANTO_prices.csv

6795

file 6 of 100, LSE_AUTO_prices.csv

1438

file 7 of 100, LSE_AV._prices.csv

6795

file 8 of 100, LSE_AVST_prices.csv

646

file 9 of 100, LSE_AVV_prices.csv

6056

file 10 of 100, LSE_AZN_prices.csv

6795

file 11 of 100, LSE_BA._prices.csv

6795

file 12 of 100, LSE_BARC_prices.csv

6795

file 13 of 100, LSE_BATS_prices.csv

5614

file 14 of 100, LSE_BDEV_prices.csv

6795

file 15 of 100, LSE_BHP_prices.csv

5900

file 16 of 100, LSE_BKG_prices.csv

6795

file 17 of 100, LSE_BLND_prices.csv

6795

file 18 of 100, LSE_BME_prices.csv

1634

file 19 of 100, LSE_BNZL_prices.csv

6795

file 20 of 100, LSE_BP._prices.csv

6795

file 21 of 100, LSE_BRBY_prices.csv

4644

file 22 of 100, LSE_BT.A_prices.csv

6795

file 23 of 100, LSE_CCH_prices.csv

1918

file 24 of 100, LSE_CPG_prices.csv

5007

file 25 of 100, LSE_CRDA_prices.csv

6795

file 26 of 100, LSE_CRH_prices.csv

6796

file 27 of 100, LSE_DCC_prices.csv

6702

file 28 of 100, LSE_DGE_prices.csv

6795

file 29 of 100, LSE_EVR_prices.csv

2288

file 30 of 100, LSE_EXPN_prices.csv

6795

file 31 of 100, LSE_FERG_prices.csv

6795

file 32 of 100, LSE_FLTR_prices.csv

5045

file 33 of 100, LSE_FRES_prices.csv

3172

file 34 of 100, LSE_GLEN_prices.csv

2409

file 35 of 100, LSE_GSK_prices.csv

6795

file 36 of 100, LSE_GVC_prices.csv

4025

file 37 of 100, LSE_HIK_prices.csv

3808

file 38 of 100, LSE_HL._prices.csv

3422

file 39 of 100, LSE_HLMA_prices.csv

6795

file 40 of 100, LSE_HSBA_prices.csv

6795

file 41 of 100, LSE_HSV_prices.csv

6795

file 42 of 100, LSE_IAG_prices.csv

6795

file 43 of 100, LSE_ICP_prices.csv

6699

file 44 of 100, LSE_IHG_prices.csv

4463

file 45 of 100, LSE_III_prices.csv

6657

file 46 of 100, LSE_IMB_prices.csv

6103

file 47 of 100, LSE_INF_prices.csv

5713

file 48 of 100, LSE_ITRK_prices.csv

4678

file 49 of 100, LSE_JD._prices.csv

6088

file 50 of 100, LSE_JET_prices.csv

207

file 51 of 100, LSE_JMAT_prices.csv

6795

file 52 of 100, LSE_KGF_prices.csv

6795

file 53 of 100, LSE_LAND_prices.csv

6795

file 54 of 100, LSE_LGEN_prices.csv

6795

file 55 of 100, LSE_LLOY_prices.csv

6295

file 56 of 100, LSE_LSE_prices.csv

4891

file 57 of 100, LSE_MNDI_prices.csv

3389

file 58 of 100, LSE_MNG_prices.csv

278

file 59 of 100, LSE_MRO_prices.csv

4317

file 60 of 100, LSE_MRW_prices.csv

6795

file 61 of 100, LSE_NG._prices.csv

6306

file 62 of 100, LSE_NWG_prices.csv

6795

file 63 of 100, LSE_NXT_prices.csv

6795

file 64 of 100, LSE_OCDO_prices.csv

2616

file 65 of 100, LSE_PHNX_prices.csv

2702

file 66 of 100, LSE_PNN_prices.csv

6795

file 67 of 100, LSE_POLY_prices.csv

2294

file 68 of 100, LSE_PRU_prices.csv

6795

file 69 of 100, LSE_PSN_prices.csv

6795

file 70 of 100, LSE_PSON_prices.csv

6795

file 71 of 100, LSE_RB._prices.csv

6795

file 72 of 100, LSE_RDSB_prices.csv

6795

file 73 of 100, LSE_REL_prices.csv

6795

file 74 of 100, LSE_RIO_prices.csv

6795

file 75 of 100, LSE_RMV_prices.csv

3718

file 76 of 100, LSE_RR._prices.csv

6795

file 77 of 100, LSE_RSA_prices.csv

6795

file 78 of 100, LSE_RTO_prices.csv

6795

file 79 of 100, LSE_SBRY_prices.csv

6795

file 80 of 100, LSE_SDR_prices.csv

6795

file 81 of 100, LSE_SGE_prices.csv

6795

file 82 of 100, LSE_SGRO_prices.csv

6795

file 83 of 100, LSE_SKG_prices.csv

3463

file 84 of 100, LSE_SLA_prices.csv

3636

file 85 of 100, LSE_SMDS_prices.csv

6795

file 86 of 100, LSE_SMIN_prices.csv

6795

file 87 of 100, LSE_SMT_prices.csv

6795

file 88 of 100, LSE_SN._prices.csv

6795

file 89 of 100, LSE_SPX_prices.csv

6795

file 90 of 100, LSE_SSE_prices.csv

6795

file 91 of 100, LSE_STAN_prices.csv

6795

file 92 of 100, LSE_STJ_prices.csv

6795

file 93 of 100, LSE_SVT_prices.csv

6795

file 94 of 100, LSE_TSCO_prices.csv

6795

file 95 of 100, LSE_TW._prices.csv

6795

file 96 of 100, LSE_ULVR_prices.csv

6795

file 97 of 100, LSE_UU._prices.csv

6795

file 98 of 100, LSE_VOD_prices.csv

6795

file 99 of 100, LSE_WPP_prices.csv

6795

file 100 of 100, LSE_WTB_prices.csv

6795

In [7]:
# Close connection
db.close()