In [1]:
import pandas as pd
import mysql.connector as mysql
from sqlalchemy import create_engine

In [2]:
table_name = "parameters"

In [3]:
# Import CSV data
df = pd.read_csv(f"data/database_tables/{table_name}.csv")

In [4]:
# Connect to database
db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "oFbByWK22xi2+Ah^",
    database = "value_investing_dev"
    )

cursor = db.cursor()

In [5]:
df

,id,report_section_id,param_name,limit_logic,limit_value,param_description
0,1,1,Turnover,-,-,-
1,2,1,Cost of sales,-,-,-
2,3,1,Gross profit,-,-,-
3,4,1,Administrative expenses,-,-,-
4,5,1,Operating profit (standardised),-,-,-
...,...,...,...,...,...,...
252,253,17,Quality Rank,-,-,-
253,254,17,Profitability Rank,-,-,-
254,255,17,PE10 Rank,-,-,-
255,256,17,PD10 Rank,-,-,-
256,257,17,Defensive Value Rank,-,-,-

In [6]:
df['param_description'] = df['param_description'].astype(str)
df

,id,report_section_id,param_name,limit_logic,limit_value,param_description
0,1,1,Turnover,-,-,-
1,2,1,Cost of sales,-,-,-
2,3,1,Gross profit,-,-,-
3,4,1,Administrative expenses,-,-,-
4,5,1,Operating profit (standardised),-,-,-
...,...,...,...,...,...,...
252,253,17,Quality Rank,-,-,-
253,254,17,Profitability Rank,-,-,-
254,255,17,PE10 Rank,-,-,-
255,256,17,PD10 Rank,-,-,-
256,257,17,Defensive Value Rank,-,-,-

In [7]:
# column names and sql builder
sql_col_names = []
col_names_list = []

for col in df.columns: 
    sql_col_names.append(col)
    col_names_list.append(col.split(' ')[0])
del col_names_list[0]

sql_col_names = ', '.join(sql_col_names)

col_names_list
sql_col_names

['report_section_id',
 'param_name',
 'limit_logic',
 'limit_value',
 'param_description']

In [8]:
# Create Table
cursor.execute(f"CREATE TABLE IF NOT EXISTS {table_name} ({sql_col_names})")

In [9]:
placeholders = ', '.join(['%s'] * len(col_names_list))
columns = ', '.join(col_names_list)
sql = f"INSERT INTO {table_name} ( {columns} ) VALUES ( {placeholders} )"
sql

'INSERT INTO parameters ( report_section_id, param_name, limit_logic, limit_value, param_description ) VALUES ( %s, %s, %s, %s, %s )'

In [10]:
# Populate database
iterator_table = df.iterrows()
while (True) : 
    try:
        row = next(iterator_table)[1].tolist()
        row = [str(i) for i in row]
        del row[0]
        print(row)
        cursor.execute(sql, row)
        
        db.commit()

    # if there are no more values in iterator, break the loop
    except StopIteration:
        break

['1', 'Turnover', '-', '-', '-']
['1', 'Cost of sales', '-', '-', '-']
['1', 'Gross profit', '-', '-', '-']
['1', 'Administrative expenses', '-', '-', '-']
['1', 'Operating profit (standardised)', '-', '-', '-']
['1', 'Interest paid (net)', '-', '-', '-']
['1', 'Associates & joint ventures', '-', '-', '-']
['1', 'Other income/expense', '-', '-', '-']
['1', 'Interest income', '-', '-', '-']
['1', 'Interest expense', '-', '-', '-']
['1', 'Net interest income', '-', '-', '-']
['1', 'Non interest income', '-', '-', '-']
['1', 'Total income', '-', '-', '-']
['1', 'Credit risk provision', '-', '-', '-']
['1', 'Operating expenses', '-', '-', '-']
['1', 'Capital asset impairments', '-', '-', '-']
['1', 'Exceptional operating costs', '-', '-', '-']
['1', 'Insurance premium income', '-', '-', '-']
['1', 'Investment returns', '-', '-', '-']
['1', 'Other income', '-', '-', '-']
['1', 'Fees & commission expense', '-', '-', '-']
['1', 'Total expenses', '-', '-', '-']
['1', 'Insurance claims', '-', '-', '-']
['1', 'Other expenses', '-', '-', '-']
['1', 'Pre-tax profit', '-', '-', '-']
['1', 'Taxation', '-', '-', '-']
['1', 'Post-tax profit', '-', '-', '-']
['1', 'Minorities', '-', '-', '-']
['1', 'Extraordinary items', '-', '-', '-']
['1', 'Discontinued operations', '-', '-', '-']
['1', 'Profit for financial year', '-', '-', '-']
['2', 'EBITDA', '-', '-', '-']
['2', 'Depreciation & amortisation', '-', '-', '-']
['2', 'EBIT', '-', '-', '-']
['2', 'Interest expense', '-', '-', '-']
['2', 'Pre-tax profit', '-', '-', '-']
['2', 'Discontinued post-tax profit', '-', '-', '-']
['3', 'Dividend (announced) ps', '-', '-', '-']
['3', 'Dividend (adjusted) ps', '-', '-', '-']
['3', 'EPS rep. continuous', '-', '-', '-']
['3', 'EPS rep. discontinued', '-', '-', '-']
['3', 'EPS reported', '-', '-', '-']
['3', 'EPS norm. continuous', '-', '-', '-']
['4', 'Pre-tax profit', '-', '-', '-']
['4', 'Post-tax profit', '-', '-', '-']
['4', 'EBIT', '-', '-', '-']
['4', 'EBITDA', '-', '-', '-']
['5', 'Operating profit', '-', '-', '-']
['5', 'Post-tax profit', '-', '-', '-']
['5', 'EBIT', '-', '-', '-']
['5', 'EBITDA', '-', '-', '-']
['5', 'EPS (basic)', '-', '-', '-']
['5', 'EPS (diluted)', '-', '-', '-']
['6', 'Number of shares', '-', '-', '-']
['6', 'Average shares (adjusted)', '-', '-', '-']
['6', 'Average shares (diluted)', '-', '-', '-']
['6', 'Research & development', '-', '-', '-']
['6', 'Rental & lease expense', '-', '-', '-']
['6', 'Stock based compensation', '-', '-', '-']
['6', 'Capital expenditure', '-', '-', '-']
['6', 'Number of employees', '-', '-', '-']
['6', 'Tax rate %', '-', '-', '-']
['6', 'Market capitalisation', '-', '-', '-']
['6', 'Enterprise value', '-', '-', '-']
['7', 'Debtors trade', '-', '-', '-']
['7', 'Debtors other', '-', '-', '-']
['7', 'Prepayments', '-', '-', '-']
['7', 'Debtors', '-', '-', '-']
['7', 'Debtors finance & lease', '-', '-', '-']
['7', 'Tax assets', '-', '-', '-']
['7', 'Stock & WIP', '-', '-', '-']
['7', 'Securities', '-', '-', '-']
['7', 'Cash & equivalents', '-', '-', '-']
['7', 'Other current assets', '-', '-', '-']
['7', 'Current assets', '-', '-', '-']
['7', 'Goodwill', '-', '-', '-']
['7', 'Other intangibles', '-', '-', '-']
['7', 'Intangibles', '-', '-', '-']
['7', 'Tangibles', '-', '-', '-']
['7', 'Investments', '-', '-', '-']
['7', 'Other non-current assets', '-', '-', '-']
['7', 'Non-current assets', '-', '-', '-']
['7', 'Intangible assets', '-', '-', '-']
['7', 'Tangible assets', '-', '-', '-']
['7', 'Pension assets', '-', '-', '-']
['7', 'Other assets', '-', '-', '-']
['7', 'Cash balances', '-', '-', '-']
['7', 'Loans to banks', '-', '-', '-']
['7', 'Loans to customers', '-', '-', '-']
['7', 'Trading & financial assets', '-', '-', '-']
['7', 'Derivative financial assets', '-', '-', '-']
['7', 'Debt securities', '-', '-', '-']
['7', 'Financial assets for sale', '-', '-', '-']
['7', 'Investment properties', '-', '-', '-']
['7', 'Net loans', '-', '-', '-']
['7', 'Insurance contracts', '-', '-', '-']
['7', 'Total assets', '-', '-', '-']
['8', 'Short term borrowing', '-', '-', '-']
['8', 'Trade creditors', '-', '-', '-']
['8', 'Accruals', '-', '-', '-']
['8', 'Tax', '-', '-', '-']
['8', 'Other current liabilities', '-', '-', '-']
['8', 'Current liabilities', '-', '-', '-']
['8', 'Long term borrowing', '-', '-', '-']
['8', 'Deferred tax', '-', '-', '-']
['8', 'Other provisions', '-', '-', '-']
['8', 'Pension liabilities', '-', '-', '-']
['8', 'Other non-current liabilities', '-', '-', '-']
['8', 'Non-current liabilities', '-', '-', '-']
['8', 'Insurance contracts', '-', '-', '-']
['8', 'Insurance funds', '-', '-', '-']
['8', 'Advances from central banks', '-', '-', '-']
['8', 'Deposits from banks', '-', '-', '-']
['8', 'Deposits from customers', '-', '-', '-']
['8', 'Deposit certificates', '-', '-', '-']
['8', 'Total deposits', '-', '-', '-']
['8', 'Trading liabilities', '-', '-', '-']
['8', 'Derivative financial liabilities', '-', '-', '-']
['8', 'Debt securities', '-', '-', '-']
['8', 'Debt', '-', '-', '-']
['8', 'Lease obligations', '-', '-', '-']
['8', 'Other financial liabilities', '-', '-', '-']
['8', 'Trading & other liabilities', '-', '-', '-']
['8', 'Other borrowed funds', '-', '-', '-']
['8', 'Other liabilities', '-', '-', '-']
['8', 'Total liabilities', '-', '-', '-']
['9', 'Ordinary shares', '-', '-', '-']
['9', 'Preference shares', '-', '-', '-']
['9', 'Share capital', '-', '-', '-']
['9', 'Share premium', '-', '-', '-']
['9', 'Treasury shares', '-', '-', '-']
['9', 'Total retained profit', '-', '-', '-']
['9', 'Other reserves', '-', '-', '-']
['9', 'Shareholders funds (NAV)', '-', '-', '-']
['9', 'Minorities', '-', '-', '-']
['9', 'Total equity', '-', '-', '-']
['9', 'Total liabilities + equity', '-', '-', '-']
['10', 'Long-term leases', '-', '-', '-']
['10', 'Long-term borrowing', '-', '-', '-']
['10', 'Current leases', '-', '-', '-']
['10', 'Current borrowing', '-', '-', '-']
['10', 'Current (<1 year) borrowing', '-', '-', '-']
['10', 'Total borrowing', '-', '-', '-']
['10', 'Cash & equivalents', '-', '-', '-']
['10', 'Advances from central banks', '-', '-', '-']
['10', 'Total deposits', '-', '-', '-']
['10', 'Total debt', '-', '-', '-']
['10', 'Financial lease obligations', '-', '-', '-']
['10', 'Other borrowed funds', '-', '-', '-']
['10', 'Net borrowing', '-', '-', '-']
['11', 'NAV', '-', '-', '-']
['11', 'NTAV', '-', '-', '-']
['11', 'NAV ps', '-', '-', '-']
['11', 'NTAV ps', '-', '-', '-']
['11', 'Preference consideration', '-', '-', '-']
['11', 'Working capital', '-', '-', '-']
['11', 'Pension deficit', '-', '-', '-']
['12', 'Net profit', '-', '-', '-']
['12', 'Depreciation & amortisation', '-', '-', '-']
['12', 'Deferred tax', '-', '-', '-']
['12', 'Share of associates & JVs', '-', '-', '-']
['12', 'Profit on disposals', '-', '-', '-']
['12', 'Change in stock', '-', '-', '-']
['12', 'Change in debtors', '-', '-', '-']
['12', 'Change in creditors', '-', '-', '-']
['12', 'Other changes', '-', '-', '-']
['12', 'Change in working capital', '-', '-', '-']
['12', 'Other (operating)', '-', '-', '-']
['12', 'Operating cash flow', '-', '-', '-']
['12', 'Interest paid CFO', '-', '-', '-']
['12', 'Interest received CFO', '-', '-', '-']
['12', 'Dividend paid CFO', '-', '-', '-']
['12', 'Dividend received CFO', '-', '-', '-']
['12', 'Other in/out flows of cash', '-', '-', '-']
['12', 'Tax paid', '-', '-', '-']
['12', 'Net cash from operations', '-', '-', '-']
['12', 'Interest paid direct', '-', '-', '-']
['12', 'Interest received direct', '-', '-', '-']
['12', 'Dividends paid direct', '-', '-', '-']
['12', 'Dividends received direct', '-', '-', '-']
['12', 'Operating cash flow (direct)', '-', '-', '-']
['12', 'Capital expenditure', '-', '-', '-']
['12', 'Sale of fixed assets', '-', '-', '-']
['12', 'Acquisitions', '-', '-', '-']
['12', 'Sale of businesses', '-', '-', '-']
['12', 'Interest received', '-', '-', '-']
['12', 'Dividends from joint ventures', '-', '-', '-']
['12', 'Purchase of investment property', '-', '-', '-']
['12', 'Sale of investment property', '-', '-', '-']
['12', 'Purchase of investment', '-', '-', '-']
['12', 'Sale of investment', '-', '-', '-']
['12', 'Other (investing)', '-', '-', '-']
['12', 'Net cash from investing', '-', '-', '-']
['12', 'New share issues', '-', '-', '-']
['12', 'Share buyback', '-', '-', '-']
['12', 'New borrowing', '-', '-', '-']
['12', 'Repayment of borrowing', '-', '-', '-']
['12', 'Equity dividends paid', '-', '-', '-']
['12', 'Preferred dividends paid', '-', '-', '-']
['12', 'Dividends paid in cash', '-', '-', '-']
['12', 'New leases', '-', '-', '-']
['12', 'Repayment of leases', '-', '-', '-']
['12', 'Dividends paid to minorities', '-', '-', '-']
['12', 'Interest paid', '-', '-', '-']
['12', 'Other (financing)', '-', '-', '-']
['12', 'Net cash from financing', '-', '-', '-']
['12', 'Net change in cash', '-', '-', '-']
['13', 'Opening balance', '-', '-', '-']
['13', 'Net change in cash', '-', '-', '-']
['13', 'Foreign exchange adjustments', '-', '-', '-']
['13', 'Closing balance', '-', '-', '-']
['14', 'Operating cash flow', '-', '-', '-']
['14', 'Tax paid', '-', '-', '-']
['14', 'Capital expenditure', '-', '-', '-']
['14', 'Dividends from joint ventures', '-', '-', '-']
['14', 'Free cash flow for firm (FCFf)', '-', '-', '-']
['14', 'Dividends paid to minorities', '-', '-', '-']
['14', 'Interest paid', '-', '-', '-']
['14', 'Interest received', '-', '-', '-']
['14', 'Free cash flow (FCF)', '-', '-', '-']
['15', 'Operating cash flow ps', '-', '-', '-']
['15', 'FCF ps', '-', '-', '-']
['15', 'FCFf ps', '-', '-', '-']
['15', 'Capex ps', '-', '-', '-']
['16', 'Share Price', '-', '-', '-']
['17', 'Debt to Equity (D/E)', '<', '0.5', '-']
['17', 'Current Ratio', '>', '1.5', '-']
['17', 'Return on Equity (ROE)', '>', '0.08', '-']
['17', 'Equity (Book Value) Per Share', 'Stable', '-', '-']
['17', 'Price to Earnings (P/E)', '<', '15', '-']
['17', 'Price to Book Value (Equity)', '<', '1.5', '-']
['17', 'Annual Yield (Return)', 'Above Bonds', '-', '-']
['17', 'FCF Growth Rate', '-', '-', '-']
['17', 'Dividend Payment', 'Last 10 years', '10', '-']
['17', 'Dividend Cover', '>', '1', '-']
['17', 'Revenue Growth', '-', '-', '-']
['17', 'EPS Growth', '-', '-', '-']
['17', 'Dividend Growth', '-', '-', '-']
['17', 'Growth Quality', '>', '0.5', '-']
['17', 'Revenue Growth', '-', '-', '-']
['17', 'Earnings Growth', '-', '-', '-']
['17', 'Dividend Growth', '-', '-', '-']
['17', 'overall growth', '-', '-', '-']
['17', 'Growth Rate', '>', '0.02', '-']
['17', 'Capital Employed', '-', '-', '-']
['17', 'ROCE', '-', '-', '-']
['17', 'Median ROCE', '>', '0.07', '-']
['17', 'Debt Ratio - Cyclical', '<', '4', '-']
['17', 'Debt Ratio - Defensive', '<', '5', '-']
['17', 'PE10', '<', '30', '-']
['17', 'DP10', '<', '60', '-']
['17', 'Growth Rank', '-', '-', '-']
['17', 'Quality Rank', '-', '-', '-']
['17', 'Profitability Rank', '-', '-', '-']
['17', 'PE10 Rank', '-', '-', '-']
['17', 'PD10 Rank', '-', '-', '-']
['17', 'Defensive Value Rank', '-', '-', '-']

In [11]:
cursor._executed

b"INSERT INTO parameters ( report_section_id, param_name, limit_logic, limit_value, param_description ) VALUES ( '17', 'Defensive Value Rank', '-', '-', '-' )"

In [12]:
db.close()

In [13]:
from sqlalchemy import create_engine

In [14]:
db_connection_str = 'mysql://root:oFbByWK22xi2+Ah^@localhost/value_investing_dev'
db_connection = create_engine(db_connection_str)

In [15]:
df = pd.read_sql(f"SELECT * FROM {table_name}", con=db_connection)
df

,id,report_section_id,param_name,limit_logic,limit_value,param_description
0,1,1,Turnover,-,-,-
1,2,1,Cost of sales,-,-,-
2,3,1,Gross profit,-,-,-
3,4,1,Administrative expenses,-,-,-
4,5,1,Operating profit (standardised),-,-,-
...,...,...,...,...,...,...
252,253,17,Quality Rank,-,-,-
253,254,17,Profitability Rank,-,-,-
254,255,17,PE10 Rank,-,-,-
255,256,17,PD10 Rank,-,-,-
256,257,17,Defensive Value Rank,-,-,-

In [16]:
db_connection.dispose()