In [1]:
import os
import mysql.connector as mysql
from sqlalchemy import create_engine
import pandas as pd
from datetime import datetime
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
# Connect to database
db = mysql.connect(
    host = "localhost",
    user = "root",
    passwd = "oFbByWK22xi2+Ah^",
    database = "value_investing_dev"
    )

cursor = db.cursor()

In [3]:
# Create table if it does not exist
table_name = "reporting_data"

df = pd.read_csv(f"../data/database_tables/{table_name}.csv")

# column names and sql builder
sql_col_names = []
col_names_list = []

for col in df.columns: 
    sql_col_names.append(col)
    col_names_list.append(col.split(' ')[0])
del col_names_list[0]

sql_col_names = ', '.join(sql_col_names)

col_names_list
sql_col_names

cursor.execute(f"CREATE TABLE IF NOT EXISTS {table_name} ({sql_col_names})")

['company_id', 'parameter_id', 'time_stamp', 'value']

'id INT AUTO_INCREMENT PRIMARY KEY, company_id INT, CONSTRAINT reporting_data_ibfk_1 FOREIGN KEY (company_id) REFERENCES companies (id), parameter_id INT, CONSTRAINT reporting_data_ibfk_2 FOREIGN KEY (parameter_id) REFERENCES parameters (id), time_stamp DATETIME, value FLOAT'

In [9]:
# Get params table data for associated id
# Connection string for sqlalchemy
db_connection_str = 'mysql://root:oFbByWK22xi2+Ah^@localhost/value_investing_dev'

# Connect to database
db_connection = create_engine(db_connection_str)

# Read params data
df_params = pd.read_sql(f"SELECT parameters.id, param_name, report_section, report_section_last, report_name FROM parameters LEFT JOIN report_section ON parameters.report_section_id = report_section.id LEFT JOIN report_type ON report_section.report_type_id = report_type.id", con=db_connection)
df_params.head()

# Read companies data
df_companies = pd.read_sql(f"SELECT * FROM companies", con=db_connection)
df_companies.head()

# Close connection
db_connection.dispose()

,id,param_name,report_section,report_section_last,report_name
0,1,Turnover,Continuous Operatings,Profit for financial year,Income Statement
1,2,Cost of sales,Continuous Operatings,Profit for financial year,Income Statement
2,3,Gross profit,Continuous Operatings,Profit for financial year,Income Statement
3,4,Administrative expenses,Continuous Operatings,Profit for financial year,Income Statement
4,5,Operating profit (standardised),Continuous Operatings,Profit for financial year,Income Statement

,id,comp_type_id,industry_id,market_id,tidm,company_name,company_summary
0,1,1,30,1,AAL,Anglo American PLC,Anglo American's mining portfolio spans many c...
1,2,1,7,1,ABF,Associated British Foods PLC,Associated British Foods PLC is a diversified ...
2,3,2,12,1,ADM,Admiral Group PLC,Admiral Group is a personal lines insurer in t...
3,4,1,32,1,AHT,Ashtead Group PLC,Ashtead Group PLC is a provider of equipment r...
4,5,1,30,1,ANTO,Antofagasta PLC,Antofagasta is a Chilean copper mining company...

In [8]:
# Import each file, process and save to database

# Get list of reports
path = "../data/company_reports"
file_list = []
for files in os.listdir(path):
    file_list.append(files)
num_files = len(file_list)
file_num = 0

for current_company_filename in file_list:
    file_num = file_num + 1
    print(f"file {file_num} of {num_files}, {current_company_filename}")
    # Get current report type
    filename_first = current_company_filename.split("_")[2]
    filename_second = current_company_filename.replace('.csv', '').split("_")[3]
    current_report_type = f"{filename_first} {filename_second}"
    # current_report_type

    # Get company tidm for associated id
    current_company_tidm = current_company_filename.split("_")[1]
    # current_company_tidm

    # Get list of report sections
    report_section_df = df_params[df_params.report_name == current_report_type.title()]
    report_section_df = report_section_df['report_section'].unique()
    report_section_list = report_section_df.tolist()
    # report_section_list

    # Get last param name in section
    report_section_last_df= df_params[df_params.report_name == current_report_type.title()]
    report_section_last_df = report_section_last_df['report_section_last'].unique()
    report_section_last_list = report_section_last_df.tolist()
    # report_section_last_list

    # Get company report data
    df_data = pd.read_csv(f"../data/company_reports/{current_company_filename}",index_col='Period Ending',skiprows=1)
    df_data = df_data.where((pd.notnull(df_data)), None)
    df_data = df_data.drop('Result Type', axis=0)
    # df_data.head()



    ## New Section
    # Generate parameter_id and replace index
    i_section = 0
    i_param = 0
    param_break = 0
    param_id_list = []

    param_list = df_data.index
    # param_list

    for section in report_section_last_list:

        param_section_filter_list_df = df_params[df_params.report_section_last == section]
        # param_section_filter_list_df

        while True:

            param_id = param_section_filter_list_df[param_section_filter_list_df.param_name == param_list[i_param]]
            param_id = param_id.iloc[0]['id']
            param_id_list.append(param_id)
            
            if param_list[i_param] == section:
                # print(f"Section {section} - param no {i_param}")
                i_section = i_section + 1
                i_param = i_param + 1
                break

            i_param = i_param + 1

    df_data.index = param_id_list
    # df_data.head()



    ## New Section
    # company id
    company_id = df_companies[df_companies["tidm"] == current_company_tidm].id.values[0]
    # print(company_id)
    # Create list of columns
    df_items = df_data.items()
    output_list = []
    for label, content in df_items:
        output_list.append([content])



    ## New Section
    # Build sql query
    placeholders = ', '.join(['%s'] * len(col_names_list))
    columns = ', '.join(col_names_list)
    sql = f"INSERT INTO {table_name} ( {columns} ) VALUES ( {placeholders} )"
    # sql

    # Get data from all columns and populate database
    num_col = df_data.shape[1]
    # num_col

    # Iterate over date columns
    for i in range(0, num_col):
        
        current_col = output_list[i]
        data = current_col[0]

        # Get data for insert
        # Date of current report
        current_date = f"{data.name} 00:00:00"

        # Iterate over data to insert into database
        i = 0
        for index, value in data.items():
            i = i + 1
            row = [str(company_id), index, datetime.strptime(current_date, '%d/%m/%y %H:%M:%S'), value]
            # print(f"No: {i}, Data: {row}")
            cursor.execute(sql, row)
            db.commit()

LSE_AAL_balance_sheet.csv
file 1 of 300
LSE_AAL_cash_flow.csv
file 2 of 300
LSE_AAL_income_statement.csv
file 3 of 300
LSE_ABF_balance_sheet.csv
file 4 of 300
LSE_ABF_cash_flow.csv
file 5 of 300
LSE_ABF_income_statement.csv
file 6 of 300
LSE_ADM_balance_sheet.csv
file 7 of 300
LSE_ADM_cash_flow.csv
file 8 of 300

IndexError: single positional indexer is out-of-bounds

In [10]:
# Close connection
db.close()